body {
	background: radial-gradient(80% 40%, white, #DDD);
	background-size: 100% 500px;
}

.matchup {

}

.centerblock {

}

.teamNames {
	width: 100%;
	text-align:center;
	font-family: 'Ubuntu',sans-serif;
	font-size: 18px;
}

.hometeam {
	color: #AA4E93;
}

.hometeam::before {
	content: "Home - ";
}

.awayteam {
	color: #2C4E93;
}

.awayteam::before {
	content: "Away - ";
}

.vsCenter {
    display: inline-block;
    height: 130px;
}

.team {

}

.teamLogo {
	width: 100px;
	height: 100px;

	-moz-box-shadow: 3px 3px 5px #000; 
    -webkit-box-shadow: 3px 3px 5px #000; 
    box-shadow: 3px 3px 5px #000; 
    background: radial-gradient(40% 40%, #555, #CCC);
    padding: 5px;
}

.result {

	font-family: Lato,sans-serif;
	font-weight: 500;
	color: #333;
	margin: 10px 0px 10px;
}

.predictionList {

}

.prediction {
    width: 50%;
    text-align:center;
}

.predictionResult {
    width: 50%;
	text-align:center;
}

.roundTitle {
	color: #000000;
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 0.36);
}

.scoreSummary {
	width: 60%;
	margin-left: auto;
    margin-right: auto;
	border-style: solid;
}

.totalsHeading {

}

.smalltext {
	font-size: 9px;
}

