body {
	background: radial-gradient(80% 40%, white, #DDD);
	background-size: 100% 500px;
}

.matchup {
	width: 60%;
	margin-left: auto;
    margin-right: auto;
}

.centerblock {
	width: 60%;
	margin-left: auto;
    margin-right: auto;
    text-align:center;
}

.teamNames {
	width: 100%;
	text-align:center;
	font-family: 'Ubuntu',sans-serif;
	font-size: 18px;
}

.hometeam {
	float:left;
	color: #AA4E93;
}

.hometeam::before {
	content: "Home - ";
}

.awayteam {
	float:right;
	color: #2C4E93;
}

.awayteam::before {
	content: "Away - ";
}

.vsCenter {
    display: inline-block;
    width:100px;
    height: 130px;
}

.team {
	font-family:Arial, Helvetica, sans-serif;
}

.teamLogo {
	width: 100px;
	height: 100px;

	-moz-box-shadow: 3px 3px 5px #000; 
    -webkit-box-shadow: 3px 3px 5px #000; 
    box-shadow: 3px 3px 5px #000; 
    background: radial-gradient(40% 40%, #555, #CCC);
    padding: 5px;
}

.result {
	text-align:center;

	font-family: Lato,sans-serif;
	font-weight: 500;
	color: #333;
	margin: 10px 0px 10px;
}

.predictionList {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11pt;
	font-style: italic;	
	color:black;
}

.prediction {
    width: 50%;
    float: left;
    text-align:center;
}

.predictionResult {
    width: 50%;
	float: right;
	text-align:center;
}

.roundTitle {
	text-align: center;
	color: #000000;
	font-family: 'Ubuntu',sans-serif;
	font-size: 26px;
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 0.36);
}

.scoreSummary {
	width: 60%;
	margin-left: auto;
    margin-right: auto;
	border-style: solid;
	text-align: center;	
}

.totalsHeading {
	text-align: center;
	display: block;
	font-size: 1.5em;
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}

.smalltext {
	font-size: 9px;
}

.centertext {
	text-align: center;
}